/* Vis Styles */
div.vis {
  width: 600px;
  margin: 0px auto;
  border: 1px solid #99CCFF;
}
div.practice .flotr-legend {
  right: -200px !important;
}
div.practice .flotr-legend-bg {
  display: none;
}
div.practice .flotr-mouse-value {
  display: none;
}

