.register
  %h2 Register:
  -form_for :account, url(:users, :register), :class => :form do |f|
    .field
      =f.label :email
      =f.error_message_on :email
      =f.text_field :email, :class => 'text-field'
    .field
      =f.label :password
      =f.error_message_on :password
      =f.password_field :password, :class => 'password-field'
    .field
      =f.label :confirm_password
      =f.error_message_on :password_confirmation
      =f.password_field :password_confirmation, :class => 'password-field'
    .field
      =f.submit 'Register', :class => :button
