%h2.title
  Categories for #{link_to @project.title, url_for(:projects, :show, @project.id)} Entries
.categories= partial 'categories/category', :collection => @categories
%h3 New Category:
.new= partial 'categories/form'
